<header class="header">
  <div class="header__block">
    <a href="./admission.html" class="header__grab">
      <p class="header__text">Admission is Open, Grab your seat now</p>
      <svg class="header__arrow" width="20" height="20">
        <use href="./svg/icons.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
  <nav class="header__nav">
    <a href="./index.html" class="header__logo">
      <svg class="header__icon" width="137" height="30">
        <use href="./svg/icons.svg#logo"></use>
      </svg>
    </a>
    <ul class="header__list">
      <li class="header__item">
        <a href="./index.html" class="header__link">Home</a>
      </li>
      <li class="header__item">
        <a href="./about.html" class="header__link">About Us</a>
      </li>
      <li class="header__item">
        <a href="./academics.html" class="header__link">Academics</a>
      </li>
      <li class="header__item">
        <a href="./admission.html" class="header__link">Admissions</a>
      </li>
      <li class="header__item">
        <a href="./life.html" class="header__link">Student Life</a>
      </li>
      <li class="header__item">
        <a href="./contact.html" class="header__link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
