<section class="testimonials">
  <div class="container">
    <h3 class="testimonials__subtitle">
      Their Happy Words
      <picture>
        <source
          srcset="
            ./img/desktop/testimonials/testimonials-smile@1x-desktop.webp 1x,
            ./img/desktop/testimonials/testimonials-smile@2x-desktop.webp 2x
          "
          media="(min-width: 1628px)"
        />
        <source
          srcset="
            ./img/tablet/testimonials/testimonials-smile@1x-tablet.webp 1x,
            ./img/tablet/testimonials/testimonials-smile@2x-tablet.webp 2x
          "
          media="(min-width: 1312px)"
        />
        <source
          srcset="
            ./img/mobile/testimonials/testimonials-smile@1x-mobile.webp 1x,
            ./img/mobile/testimonials/testimonials-smile@2x-mobile.webp 2x
          "
          media="(max-width: 1311px)"
        />
        <img
          class="testimonials__smile"
          width="358"
          height="410"
          src="./img/mobile/testimonials/testimonials-smile@1x-mobile.webp 1x"
          alt="A smile"
        />
      </picture>
    </h3>
    <h2 class="testimonials__title">Our Testimonials</h2>
    <p class="testimonials__desc">
      Our testimonials are heartfelt reflections of the nurturing environment we
      provide, where children flourish both academically and emotionally.
    </p>
    <div class="testimonials__container">
      <div class="testimonials__wrapper swiper-wrapper">
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__wrap">
            <svg class="testimonials__avatar" width="50" height="50">
              <use href="./svg/icons.svg#testimonials-avatar-1"></use>
            </svg>
          </div>
          <h4 class="testimonials__header">Jennifer B</h4>
          <ul class="testimonials__stars">
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials__text">
            Little Learners Academy has been a second home for my child. The
            caring staff and engaging programs have made her excited to go to
            school every day!
          </p>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__wrap">
            <svg class="testimonials__avatar" width="50" height="50">
              <use href="./svg/icons.svg#testimonials-avatar-2"></use>
            </svg>
          </div>
          <h4 class="testimonials__header">David K</h4>
          <ul class="testimonials__stars">
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials__text">
            Choosing Little Learners Academy for my daughter was the best
            decision. She has thrived in their nurturing and stimulating
            environment.
          </p>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__wrap">
            <svg class="testimonials__avatar" width="50" height="50">
              <use href="./svg/icons.svg#testimonials-avatar-3"></use>
            </svg>
          </div>
          <h4 class="testimonials__header">Emily L</h4>
          <ul class="testimonials__stars">
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials__text">
            My son's social and academic growth has been remarkable since
            joining Little Learners Academy. I am grateful for the supportive
            and dedicated teachers.
          </p>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__wrap">
            <svg class="testimonials__avatar" width="50" height="50">
              <use href="./svg/icons.svg#testimonials-avatar-1"></use>
            </svg>
          </div>
          <h4 class="testimonials__header">Jennifer B</h4>
          <ul class="testimonials__stars">
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials__text">
            Little Learners Academy has been a second home for my child. The
            caring staff and engaging programs have made her excited to go to
            school every day!
          </p>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__wrap">
            <svg class="testimonials__avatar" width="50" height="50">
              <use href="./svg/icons.svg#testimonials-avatar-2"></use>
            </svg>
          </div>
          <h4 class="testimonials__header">David K</h4>
          <ul class="testimonials__stars">
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials__text">
            Choosing Little Learners Academy for my daughter was the best
            decision. She has thrived in their nurturing and stimulating
            environment.
          </p>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__wrap">
            <svg class="testimonials__avatar" width="50" height="50">
              <use href="./svg/icons.svg#testimonials-avatar-3"></use>
            </svg>
          </div>
          <h4 class="testimonials__header">Emily L</h4>
          <ul class="testimonials__stars">
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
            <li class="testimonials__star">
              <svg class="testimonials__icon" width="20" height="20">
                <use href="./svg/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials__text">
            My son's social and academic growth has been remarkable since
            joining Little Learners Academy. I am grateful for the supportive
            and dedicated teachers.
          </p>
        </div>
      </div>
    </div>
    <div class="testimonials__buttons">
      <button class="testimonials__btn testimonials__btn--prev">
        <svg class="testimonials__arrow" width="24" height="24">
          <use href="./svg/icons.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="testimonials__btn testimonials__btn--next">
        <svg class="testimonials__arrow" width="24" height="24">
          <use href="./svg/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
