<section class="testimonials">
  <div class="container">
    <h3 class="testimonials__subtitle">Their Happy Words</h3>
    <h2 class="testimonials__title">Our Testimonials</h2>
    <p class="testimonials__desc">
      Our testimonials are heartfelt reflections of the nurturing environment we
      provide, where children flourish both academically and emotionally.
    </p>
    <button class="testimonials__btn">
      <svg class="testimonials__arrow" width="24" height="24">
        <use href="./svg/icons.svg#arrow-right"></use>
      </svg>
    </button>
    <button class="testimonials__btn">
      <svg class="testimonials__arrow" width="24" height="24">
        <use href="./svg/icons.svg#arrow-right"></use>
      </svg>
    </button>
    <ul class="testimonials__list">
      <li class="testimonials__item">
        <div class="testimonials__wrap">
          <svg class="testimonials__avatar" width="50" height="50">
            <use href="./svg/icons.svg#testimonials-avatar-1"></use>
          </svg>
        </div>
        <h4 class="testimonials__header">Jennifer B</h4>
        <ul class="testimonials__list">
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials__text">
          Little Learners Academy has been a second home for my child. The
          caring staff and engaging programs have made her excited to go to
          school every day!
        </p>
      </li>
      <li class="testimonials__item">
        <div class="testimonials__wrap">
          <svg class="testimonials__avatar" width="50" height="50">
            <use href="./svg/icons.svg#testimonials-avatar-2"></use>
          </svg>
        </div>
        <h4 class="testimonials__header">David K</h4>
        <ul class="testimonials__list">
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials__text">
          Choosing Little Learners Academy for my daughter was the best
          decision. She has thrived in their nurturing and stimulating
          environment.
        </p>
      </li>
      <li class="testimonials__item">
        <div class="testimonials__wrap">
          <svg class="testimonials__avatar" width="50" height="50">
            <use href="./svg/icons.svg#testimonials-avatar-3"></use>
          </svg>
        </div>
        <h4 class="testimonials__header">Emily L</h4>
        <ul class="testimonials__list">
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
          <li class="testimonials__item">
            <svg class="testimonials__icon" width="20" height="20">
              <use href="./svg/icons.svg#star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials__text">
          My son's social and academic growth has been remarkable since joining
          Little Learners Academy. I am grateful for the supportive and
          dedicated teachers.
        </p>
      </li>
    </ul>
  </div>
</section>
