$white: #fff;
$black: #000;
$orange-10: #ff8d4d;
$orange-20: #ff9e66;
$orange-30: #ffae80;
$orange-40: #ffbe99;
$orange-50: #ffdecc;
$orange-60: #ffefe5;
$orange-70: #fff5f0;
$orange-80: #fffcfa;
$grey-10: #1a1a1a;
$grey-20: #262626;
$grey-30: #333;
$grey-40: #4c4c4d;
$grey-50: #59595a;
$grey-60: #656567;
$grey-70: #98989a;
$grey-80: #b3b3b3;